*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    
}
.header {
    height: 4rem;
    width: 100vw;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 61, 61);
    position: relative;
    top: 0;
}
.logo{
    height: 2rem;
    /* border: 2px solid black; */
    position: relative;
    left: 1rem;
    cursor: pointer;
}
.header-right{
    width: 50%;
    /* border: 2px solid black; */
    color: white;
    display: flex;
    justify-content: space-evenly;
    /* margin: 1rem; */
    align-items: center;
}
.offer-timer{
    font-size: 1.2rem;    
    cursor: pointer;

}
.cart-image{
    height: 1.5rem;
    cursor: pointer;
}
.cart{
    position: relative;
}
.number {
    position: absolute;
    color: rgb(0, 0, 0);
    font-weight: 700;
    /* border: 1px solid black; */
    bottom: 1.2rem;
    right: 0rem;
    display: inline;
    background-color: rgb(255, 209, 2);
    padding: 0 .1rem;
    cursor: pointer;
}
.btn{
    height: 1.5rem;
    width: 2.7rem;
    text-transform: uppercase;
    background-color: black;
    color: aqua;
    border: 2px solid aqua;
    cursor: pointer;
}
.btn:hover{
    border: 3px solid white;
    color: white;
    background-color: black;
}
.content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem 0rem;
}
.item{
    width: 200px;
    height: 350px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    background-color: rgb(89, 0, 255);
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.3);
}

.picture{
    overflow: hidden;
    /* position: relative; */
    height: auto;
}
.picture img {
    /* width: 100%; */
    height: auto;
    overflow: hidden;
    /* position: relative; */
}
.picture img {
    transition: transform 1s ease;
}
.picture:hover img{
    transform: scale(1.5);
}
.brand-name{
    font-size: 1.3rem;
}
.prize{
    /* position: relative; */
    /* left: 2.5rem; */
}
.prize .aprize {
    font-size: 1.2rem;
    color: rgb(8, 8, 8);
}
.prize .bprize{
    font-size: .8rem;
    text-decoration: line-through;
}
.item .item-button{
    width: 80%;
    height: 2rem;
    background-color: rgb(34, 27, 4);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 750;
    text-transform: uppercase;
    margin-bottom: .3rem;
    cursor: pointer;
}